{% extends 'base.html' %}

{% block content %}
<div class="style-form">
    <form method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
            <button type="submit" class="btn btn-primary">Login</button>
</div>
        <div class="clearfix">
            <a href="{% url 'password_reset' %}" class="float-right">Forgot Password?</a>
        </div>        
    </form>
    <p class="text-center"><a href="{% url 'account:register' %}">Create an Account</a></p>
</div>

{% endblock %}
